{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login-page.css')}}">
{% endblock %}

{% block title %}Login{% endblock %}


{% block content %}


<!-- <div class="col-md-4 col-md-offset-4">
    <form action="" method="POST" class="form">

        <div class="form-group">
            <input type="email" class='form-control' id="username" name="username" placeholder="Usuário" required="required">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="pw" id="pw" placeholder='Senha' required="required">
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
    
        </div>

        <button type="submit" class="btn btn-dark col-md-12">Entrar</button>

        <a href="/registrar">Cadastrar</a>

    </form>

</div> -->

<div class="d-flex justify-content-center flex-column container login-area">
    <div class="row titulo mb-4">
        <h4>Acesse sua conta:</h3>
    </div>

    <div class="row">
        <form action="">
            <div class="row mb-2">
                <input type="text" class="form-control" id="username" placeholder="CPF">
            </div>
            <div class="row mb-4">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            </div>

            <div class="row mb-4">
                <button type="submit" class="btn btn-light">Entrar</button>
            </div>
        </form>
    </div>

    <div class="row separator">
        Ou:
    </div>

    <div class="row criar-conta">
        <a class="btn btn-light" href="/registrar">Crie sua Conta</a>
    </div>

</div>
{% endblock %}
